<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salon Booking</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

    <link th:href="@{/css/home/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/home/bootstrap.css}" rel="stylesheet"/>

    <!--    Footer Social Media Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
<!-- NAVBAR -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md sec-color navbar-dark fixed-top">
        <div class="container-fluid">

            <a th:href="@{/}"  class="navbar-brand mx-auto ml-xl-5"><h3>Online <span>Salon</span></h3></a>

            <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a href="services.html" class="btn text-light" style="background-color: orange">Book Now</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin}" class="nav-link">Services</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/contact}"class="nav-link">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a sec:authorize="isAnonymous()" th:href="@{/login}"  class="nav-link"> Login / Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</div>

<div class="container mt-5">
    <h1 class="h2 pt-5 text-center">Select a Category</h1><br>
    <div class="row">
        <div class="col">
            <a href="#" id="hair">
                <img alt="image" src="images/salon_service/hair.jpg" class="w-100 bigserviceimages">
                <div class="centered">Hair</div>
            </a>
        </div>
        <div class="col">
            <a href="#" id="beauty">
                <img alt="image" src="images/salon_service/facial.jpg" class="w-100 bigserviceimages">
                <div class="centered">Beauty</div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col" >
            <a href="#" id="handfeet">
                <img alt="image" src="images/salon_service/handfeet2.jpg" class="w-100 bigserviceimages">
                <div class="centered">Nails</div>
            </a>
        </div>
        <div class="col">
            <a href="#" id="makeup">
                <img alt="image" src="images/salon_service/makeup2.jpg" class="w-100 bigserviceimages">
                <div class="centered">MakeUp</div>
            </a>
        </div>
    </div>
</div>

<br>

<!-- Services PopUP -->

<div class="modal" id="serviceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Services</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="serviceTitle" disabled><br>
                <select id="selectContainer" class="form-control">

                </select><br>
                <div class="text-center" id="salon_results">

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn sec-color text-white" data-dismiss="modal">Close</button>
                <button class="btn pri-color text-white" id="goButton">Go</button>
            </div>
        </div>
    </div>
</div>

</body>

<div th:fragment="My_footer" style="margin-bottom:fixed">
    <footer class="My_footer" >

        <div>
            <div>
                <p>Salon Booking System, Copyright &copy; 2021</p>
            </div>

            <div class="social">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>
</div>

</div>

</html>
