
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<div class="container text-left">
		<p><b>Tracom</b></p>
	</div>
	<meta charset="ISO-8859-1">
	<title>Office Meetings Planner</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

	<!--    Footer Social Media Icons-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />


	<link th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>

<body class="body">

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #c69500;" >
	<div class="container-fluid">

		<div id="branding" style="color: black">
			<h5> <b>OFFICE MEETING PLANNER</b> </h5>
		</div>

		<header>
			<div class="container1" style=" overflow: hidden;
              position: fixed;top: 0; width: available; display: block;
              text-align: center;padding:  12px;
              text-decoration: none;">



				<li><b><a href="/admin"> Home </a></b></li>
				<li><b><a href="/contact">Contact Us </a></b></li>
				<li><b><a href="/">Main Menu </a></b></li>
				<li><b><a type="button" class="create-user-btn btn-sm btn btn-primary" th:href="@{/ListUsers}"><i class="bi bi-person-plus me-2"></i>Users List</a></b></li>




			</div>
		</header>


		<div class="collapse navbar-collapse" id="navbarSupportedContent">


			<ul class="d-flex ms-auto navbar-nav me-4 mb-2 mb-lg-0" style="color: black;">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
					   data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
						<b>  <span sec:authentication="principal.fullName" class="me-2"></span><i class="bi bi-person-fill ml-2"></i> </b>
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
						<li><a class="dropdown-item" th:href="@{#}">
							<span><i class="bi bi-person-fill"></i></span> <b>My Profile </b></a></li>
						<li><hr class="dropdown-divider"></li>
						<b> <form   th:action="@{/logout}" method="post" class="d-flex">
							<input class="dropdown-item ms-0" type="submit" value="Sign Out"/>
						</form></b>

					</ul>
				</li>
			</ul>

		</div>

	</div>
</nav>
<!--End of Navbar-->

<body style="min-height: 100vh;display: flex;flex-direction: column;background-color: wheat">

<div class="top">
	<div class="d-flex" id="wrapper" >


		<div class="container text-center" style="  margin-top: 3%; margin-right: 1%; margin-left: 1%">
			<br>

			<h5><b>User Registration - Sign Up</b> </h5>

			<div class="container text-center">

				<form th:action="@{/process_register}" th:object="${user}"
					  method="post" style="max-width: 600px; margin: 0 auto;">
					<div th:if="${error != null}">
						<b> <p  class="text-danger">[[${error}]] </p> </b>
					</div>

					<div class="m-3">
						<div class="form-group row">
							<label class="col-4 col-form-label">E-mail: </label>
							<div class="col-8">
								<input type="email" th:field="*{email}" class="form-control" required />
							</div>
						</div>

						<!--						<div class="form-group row">-->
						<!--							<label class="col-4 col-form-label">Password: </label>-->
						<!--							<div class="col-8">-->
						<!--								<input type="password" th:field="*{password}" class="form-control"-->
						<!--									   required minlength="6" maxlength="10"/>-->
						<!--							</div>-->
						<!--						</div>-->

						<div class="form-group row">
							<label class="col-4 col-form-label">First Name: </label>
							<div class="col-8">
								<input type="text" th:field="*{firstName}" class="form-control"
									   required minlength="2" maxlength="20"/>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Last Name: </label>
							<div class="col-8">
								<input type="text" th:field="*{lastName}" class="form-control"
									   required minlength="2" maxlength="20" />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Phone Number: </label>
							<div class="col-8">
								<input type="text" th:field="*{phone}" class="form-control"
									   required minlength="3" maxlength="12" />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Gender: </label>
							<div class="col-8">
								<input type="radio" th:field="*{gender}" value="Male" />Male
								<input type="radio" th:field="*{gender}" value="Female" />Female<br/>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Department: </label>
							<div class="col-8">
								<select th:field="*{department}">
									<option th:each="p : ${listDepartment}" th:value="${p}" th:text="${p}"/>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Roles: </label>
							<div class="col-8">
								<select th:field="*{roles}">
									<option th:each="roles : ${listRoles}" th:value="${roles.id}" th:text="${roles.name}"/>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Organizations: </label>
							<div class="col-8">
								<th:block th:each="organization: ${listOrganization}">
									<input type="radio" th:field="*{organization}"
										   th:text="${organization.organization_name}"
										   th:value="${organization.organization_id}" class="m-2"
										   required checked/>
								</th:block>
							</div>
						</div>





						<div>

							<button type="submit" class="btn btn-primary">Sign Up</button>
						</div>
					</div>
				</form>

			</div>

		</div>

	</div>
</div>
</body>
</body>
</br>
<footer class="container text-center" style=" background-color: black;
        color: white; margin-top: auto;padding: 10px;margin-bottom: 0px;
        text-align: center;">

	<div>
		<div>
			<p>Office Meeting Planner, Copyright &copy; 2021</p>
		</div>

		<div class="social">
			<a href="#"><i class="fab fa-github fa-2x"></i></a>
			<a href="#"><i class="fab fa-facebook fa-2x"></i></a>
			<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
			<a href="#"><i class="fab fa-twitter fa-2x"></i></a>

		</div>
	</div>
</footer>


</html>