
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Office Meetings Planner</title>
<!--    Login-->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

    <!--    Footer Social Media Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>

<body style="background-color: #b0e0e6">

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card border-0 smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-4 m-2">
                    <div class="mb-4">
                        <h4><a style="color: #B32E87" class="text-decoration-none text-black fw-bold">
                            Forget Password</a></h4>

                        <p style="color: #0d3fbe"><b><i>Please enter your email.</i></b></p>


                    </div>

                    <div th:if="${error != null}">
                        <p class="text-danger">[[${error}]]</p>
                    </div>
                    <div th:if="${message != null}">
                        <p class="text-warning">[[${message}]]</p>
                    </div>
                    <!-- Form -->

                    <form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
                        <div class="border border-secondary rounded p-3">
                            <div>
                                <p style="color: #721c24"><b><i>We will be sending a reset password link to your email.</i></b></p>
                            </div>
                            <div>
                                <p>
                                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                                </p>
                                <p class="text-center">
                                    <input type="submit" value="Send" class="btn btn-primary" />
                                </p>
                            </div>

                            <div class="mb-2 mb-md-0">
                                <a  href="/" class="text-decoration-none">Back</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>